<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
     
    <add key="SoapHeaderUserName" value="A/5cLNfNtVQ=" />
    <add key="SoapHeaderPassword" value="A/5cLNfNtVQ=" />
    
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBackupManager" />
                <binding name="BasicHttpBinding_ILoggerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4501/BackupManager.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBackupManager" contract="BackupSystemService.IBackupManager"
                name="BasicHttpBinding_IBackupManager" />
            <endpoint address="http://localhost:4501/LoggerService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILoggerService" contract="LogServiceSystem.ILoggerService"
                name="BasicHttpBinding_ILoggerService" />
        </client>
    </system.serviceModel>
</configuration>